/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.msg-success {
    border: 2px solid #28a745;
    border-radius: 20px;
}

.msg-error {
    border: 2px solid #e35e6b;
    border-radius: 20px;
}
